#navBar {
    display:flex;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navBar >h1 {
    display: block;
    font-size: 40px;
    color: white;
    font-family: monospace;
}
#ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      li {
        display: inline;
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: rgba(219, 135, 135, 0.779);
      }

.grid-container {
display: grid;
grid-template-areas: 'left center right';
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 500px;
grid-gap: 10px;
width: 1500px;
background-color: whitesmoke;
}

.grid-left {
    grid-area: left; 
    background-image: url("../Unit-2-Challenge-Portfolio/Images/socialmedia.jpeg");
  }
  .grid-center {
    grid-area: center;
    background-image: url("../Unit-2-Challenge-Portfolio/Images/beach.jpg");
  }

  .grid-right {
    grid-area: right;
    background-image: url("../Unit-2-Challenge-Portfolio/Images/Burger.jpeg");
  }

  .grid-container div {
    background-color: black;
  }

body {
    background-color: blanchedalmond;
  }

